/****** Script for SelectTopNRows command from SSMS  ******/
SELECT
       [CityId]
      ,[Name]
      ,[IBGE]
      ,[StateModel_StateId]
  FROM [AlphaSSODb].[dbo].[CityModel]
  Where StateModel_StateId =(SELECT StateId FROM StateModel where UF = 'SP')